<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <% nav_links.each do |t| %>
        <%= link_to t[:title], t[:link], class: 'item' %>
    <% end %>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">

</div>

<div class="pusher">
<!-- Page Contents -->
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>

        <!--<div class="right item">-->
          <!--<a href="javascript:;" class="ui inverted animated fade button" tabindex="0">-->
            <!--<div class="visible content">-->
              <!--Contact Me-->
            <!--</div>-->
            <!--<div class="hidden content">-->
              <!--<i class="phone icon"></i>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        <span class="first-name">Jared</span>
        <span class="last-name">Cowan</span>
      </h1>
      <h2>
        Full Stack Developer &amp;
        <br>
        Professional Cookie Eater
      </h2>
      <!-- <div class="ui huge inverted button">
        View Résumé
        <i class="file pdf outline icon"></i>
      </div> -->
      <a href="/resume.pdf" target="_blank" class="ui huge inverted teal animated fade button" tabindex="0" id="view-resume-btn">
        <div class="visible content">
          View Résumé
        </div>
        <div class="hidden content">
          <i class="file pdf outline icon"></i>
        </div>
      </a>
    </div>
  </div>
</div>
